<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-ws-requests-state-json-heading"
        data-cy="WsRequestsStateJSONCreateUpdateHeading"
        jhiTranslate="responseComparatorApp.wsRequestsStateJSON.home.createOrEditLabel"
      >
        Create or edit a Ws Requests State JSON
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="responseComparatorApp.wsRequestsStateJSON.requestId" for="field_requestId"
            >Request Id</label
          >
          <input type="number" class="form-control" name="requestId" id="field_requestId" data-cy="requestId" formControlName="requestId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="responseComparatorApp.wsRequestsStateJSON.requestIdx" for="field_requestIdx"
            >Request Idx</label
          >
          <input
            type="number"
            class="form-control"
            name="requestIdx"
            id="field_requestIdx"
            data-cy="requestIdx"
            formControlName="requestIdx"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="responseComparatorApp.wsRequestsStateJSON.cmdListJson" for="field_cmdListJson"
            >Cmd List Json</label
          >
          <textarea
            class="form-control"
            name="cmdListJson"
            id="field_cmdListJson"
            data-cy="cmdListJson"
            formControlName="cmdListJson"
          ></textarea>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="responseComparatorApp.wsRequestsStateJSON.srcSystem" for="field_srcSystem"
            >Src System</label
          >
          <input type="text" class="form-control" name="srcSystem" id="field_srcSystem" data-cy="srcSystem" formControlName="srcSystem" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="responseComparatorApp.wsRequestsStateJSON.created" for="field_created">Created</label>
          <div class="d-flex">
            <input
              id="field_created"
              data-cy="created"
              type="datetime-local"
              class="form-control"
              name="created"
              formControlName="created"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
