<div>
  <h2 id="page-heading" data-cy="WsRequestsStateJSONHeading">
    <span jhiTranslate="responseComparatorApp.wsRequestsStateJSON.home.title">Ws Requests State JSONS</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="responseComparatorApp.wsRequestsStateJSON.home.refreshListLabel">Refresh list</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="wsRequestsStateJSONS?.length === 0">
    <span jhiTranslate="responseComparatorApp.wsRequestsStateJSON.home.notFound">No Ws Requests State JSONS found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="wsRequestsStateJSONS && wsRequestsStateJSONS.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="requestId">
            <div class="d-flex">
              <span jhiTranslate="responseComparatorApp.wsRequestsStateJSON.requestId">Request Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="requestIdx">
            <div class="d-flex">
              <span jhiTranslate="responseComparatorApp.wsRequestsStateJSON.requestIdx">Request Idx</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cmdListJson">
            <div class="d-flex">
              <span jhiTranslate="responseComparatorApp.wsRequestsStateJSON.cmdListJson">Cmd List Json</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="srcSystem">
            <div class="d-flex">
              <span jhiTranslate="responseComparatorApp.wsRequestsStateJSON.srcSystem">Src System</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="created">
            <div class="d-flex">
              <span jhiTranslate="responseComparatorApp.wsRequestsStateJSON.created">Created</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let wsRequestsStateJSON of wsRequestsStateJSONS; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/ws-requests-state-json', wsRequestsStateJSON.id, 'view']">{{ wsRequestsStateJSON.id }}</a>
          </td>
          <td>{{ wsRequestsStateJSON.requestId }}</td>
          <td>{{ wsRequestsStateJSON.requestIdx }}</td>
          <td>{{ wsRequestsStateJSON.cmdListJson }}</td>
          <td>{{ wsRequestsStateJSON.srcSystem }}</td>
          <td>{{ wsRequestsStateJSON.created | formatMediumDatetime }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/ws-requests-state-json', wsRequestsStateJSON.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
